@import '~mdb/css/mdb.min.css';

html,
body,
.intro {
    height: 100%;
    background-color: rgb(0, 38, 63);
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

tbody td {
    font-weight: 500;
    color: rgba(255,255,255,.65);
}

.dropdown-item:hover {
    cursor: pointer;
}

.fake-button {
    all: unset;
    cursor: pointer;
}

table.table a:hover {
    color: #1a202c;
}

.fake-button:hover {
    color: #1a202c;
}

form, input, label, p {
    color: white !important;
}
